div.word { background-color: lightgrey; 
    font-size: 17pt; 
    padding: 8px;
    margin-top: 5px;
}
span.source {
color: grey;
    font-size: 12pt;}
ul {
    font-size: 14pt;
}
div.noexamples {
    background-color: #eee;
    color: #444;
    padding-top: 0px;
    padding-bottom: 0px;
}
div.servererror {
    background-color: rgb(250, 189, 189);
}